.inputBox {
  position: fixed;
  bottom: var(--margin-main-h);
  right: var(--margin-main-h);
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-code);
  border-radius: var(--border-radius-small);
  border: 2px solid var(--color-text);
  min-height: 3em;
  max-height: 24ch;
  width: 5em;
  transition: width 0.5s ease-in-out;
  overflow: scroll;
  box-shadow: 0 0 0.7em 0.7em var(--color-shadow);
}

.inputBoxExpanded {
  width: min(80ch, calc(100vw - 2 * var(--margin-main-h)));
}

.cleanButton {
  outline: none;
  font-family: var(--font-code);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.inputContent {
  padding: 0.5em 1em;
  width: calc(100% - 2em);
  display: flex;
  flex-direction: column;
}

.inputRow {
  display: flex;
  flex-direction: row;
  line-height: 1.2;
}

.cleanInput {
  background: none;
  border: none;
  outline: none;
  font-family: var(--font-code);
  color: var(--color-text);
  width: 100%;
  min-width: 0;
}

.promptPath {
  font-weight: bold;
  color: var(--color-indigo);
}

[data-color-mode="dark"] .promptPath {
  color: var(--color-blue);
}

.prompt {
  user-select: none;
}
