.copyButton {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyIcon {
  height: 1.2em;
  position: relative;
  display: none;
}

:global(.show-copy-button):is(:hover, :focus-visible) .copyIcon {
  display: inline;
}
