.button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 2rem;
  width: 2rem;
  color: var(--color-text);
  fill: var(--color-text);
}
