.tabs {
  width: 100%;
  margin-top: 1em;
}

.tabs button {
  color: var(--color-primary);
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

.tabs button.selected {
  border-bottom: 3px solid var(--color-primary);
}
