.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  max-width: 700px;
}

.colorTextBox {
  width: 100%;
  height: 3em;
  font-size: large;
  margin: 0.5em 0;
  border-radius: var(--border-radius-small);
  border: var(--color-primary) solid 1px;
  background-color: transparent;
  padding: 0 1em;
}

.colorTextBox:focus {
  outline: var(--color-primary) solid 2px;
}

.colorTextBox:invalid {
  border: var(--color-red) solid 1px;
}

.colorTextBox:focus:invalid {
  outline: var(--color-red) solid 2px;
}

.colorData {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.colorPreview {
  width: 8em;
  height: 8em;
  border-radius: var(--border-radius-large);
}

.colorDataText {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.colorInputs {
  width: 100%;
  margin-top: 1em;
}

.colorInputs button {
  color: var(--color-primary);
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

.colorInputs button.selected {
  border-bottom: 3px solid var(--color-primary);
}

.colorInputs label {
  display: block;
  width: 100%;
}

.colorInputs input[type="range"] {
  margin-left: 0.5em;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.colorInputs input[type="range"]::-webkit-slider-runnable-track {
  height: 16px;
  background: linear-gradient(
    to right,
    var(--color-0),
    var(--color-1),
    var(--color-2),
    var(--color-3),
    var(--color-4),
    var(--color-5),
    var(--color-6),
    var(--color-7),
    var(--color-8),
    var(--color-9)
  );
}

.colorInputs input[type="range"]::-moz-range-track {
  height: 16px;
  background: linear-gradient(
    to right,
    var(--color-0),
    var(--color-1),
    var(--color-2),
    var(--color-3),
    var(--color-4),
    var(--color-5),
    var(--color-6),
    var(--color-7),
    var(--color-8),
    var(--color-9),
    var(--color-10)
  );
}

.colorInputs input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  top: -2px;
  border-radius: 0;
  height: 100%;
  width: 8px;
  background: transparent;
  border: 2px solid var(--color-current);
}

.colorInputs input[type="range"]::-moz-range-thumb {
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  top: -2px;
  border-radius: 0;
  height: 100%;
  width: 8px;
  background: transparent;
  border: 2px solid var(--color-current);
}
