.colorWheel {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorGroup {
  position: absolute;
  transform: rotate(calc(var(--group-index) * 30deg)) translateY(-150px);
  transform-origin: center center;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
}

.colorDot {
  transition: 0.2s;
  width: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
}

.colorGroup:not(:hover) .colorDotBase {
  height: 50px;
}

.colorGroup:not(:hover) .colorDot:not(.colorDotBase) {
  height: 0;
  opacity: 0;
}

.colorGroup:hover {
  z-index: 1;
}

.colorGroup:hover .colorDot {
  border-radius: 0;
}

.colorGroup:hover .colorDot:not(:hover) {
  width: 50px;
  height: 20px;
}

.colorDot:hover {
  width: 100px;
  height: 50px;
}

.colorDot:hover::before {
  content: attr(data-label);
}

@media (width < 600px) {
  .colorWheel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    height: 300px;
  }
  .colorGroup {
    position: unset;
    transform: unset;
    width: 100px;
  }
}
