.addBuffBtn {
  border: 1px solid black;
}

.equationLine {
  display: flex;
  white-space: nowrap;
  overflow: visible;
  align-items: center;
}

.stackedEquationsContainer {
  display: flex;
  align-items: stretch;
}

.stackedEquations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftBracket,
.rightBracket {
  flex-shrink: 0;
  width: 0.5em;
  border-color: currentColor;
  border-style: solid;
}
.leftBracket {
  border-width: 1px 0 1px 1px;
}
.rightBracket {
  border-width: 1px 1px 1px 0;
}
