.navbar {
  overflow: visible;
  position: sticky;
  top: 0;
  height: var(--height-navbar);
  border-bottom: 2px solid var(--color-text);
  background-color: var(--color-background);
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  z-index: 1000;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 0.6rem var(--margin-main-h);
  align-items: center;
}

.logo {
  height: calc(var(--height-navbar) - 1.2rem);
  width: calc(var(--height-navbar) - 1.2rem);
}

.links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0;
}

.arrowDown {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--color-text);
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
}

.subLinks {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  list-style: none;
  background-color: var(--color-background);
  margin: 0;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-text);
  transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
  z-index: 10000;
}

li:is(:hover, :focus-within, :has([aria-expanded="true"])) > .subLinks {
  opacity: 1;
  visibility: visible;
}

.subLinks li {
  padding: 0.3rem 0;
}

.colorModeToggle {
  margin-left: auto;
  border-radius: 50%;
  height: calc(var(--height-navbar) - 1.2rem);
  width: calc(var(--height-navbar) - 1.2rem);
}

.colorModeToggle:hover {
  background-color: var(--color-shadow);
}
