.quote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  color: var(--color-text);
  margin: 0;
  margin-top: 2em;
  padding: 0;
}

.quote::before,
.quote::after {
  quotes: "「" "」";
  margin-block-start: var(--margin-paragraph);
  margin-block-end: var(--margin-paragraph);
  font-size: 4em;
  line-height: 1;
  color: var(--color-pink);
}

.quote::before {
  margin-right: 0.5em;
  content: open-quote;
}

.quote::after {
  margin-left: 0.5em;
  content: close-quote;
  vertical-align: bottom;
  align-self: flex-end;
}

.quote p {
  display: inline-block;
  font-size: 2em;
}
