.tag {
  display: inline-block;
  border: 1px solid var(--color-text-subdued);
  border-radius: var(--border-radius-small);
  padding: 0 0.25em;
  margin-right: 0.5em;
  font-size: smaller;
  white-space: nowrap;
}
