[data-color-mode="dark"] .nameBorder {
  filter: drop-shadow(0 0 2px white);
}

@keyframes rolling {
  from {
    translate: 0;
    animation-timing-function: ease-in-out;
  }

  14% {
    translate: 20px;
  }

  50% {
    translate: 20px;
    animation-timing-function: ease-in-out;
  }

  64% {
    translate: 0;
  }

  to {
    translate: 0;
  }
}

@keyframes raising {
  from {
    translate: 0;
  }

  64% {
    translate: 0;
    animation-timing-function: ease-in;
  }

  68% {
    translate: 0 -2px;
    animation-timing-function: ease-out;
  }

  72% {
    translate: 0;
  }

  to {
    translate: 0;
  }
}

.eye {
  animation: rolling 10s infinite;
}

.eyebrow {
  animation: raising 10s infinite;
  fill: var(--color-text);
}
