[data-color-mode="dark"] .nameBorder {
  filter: drop-shadow(0 0 2px white);
}

@keyframes raising {
  from {
    translate: 0;
  }

  60% {
    translate: 0;
    animation-timing-function: ease-in;
  }

  68% {
    translate: 0 -2px;
    animation-timing-function: ease-out;
  }

  76% {
    translate: 0;
  }

  to {
    translate: 0;
  }
}

.eyebrow {
  animation: raising 5s infinite;
  fill: var(--color-text);
}
