[data-color-mode="dark"] .nameBorder {
  filter: drop-shadow(0 0 2px white);
}

.elements {
  position: absolute;
  top: calc(
    var(--frame-height) / 2 -
      min(calc(var(--frame-width) / 2), var(--frame-height)) / 2
  );
  left: 0;
  width: min(var(--frame-width), calc(var(--frame-height) * 2));
  height: min(calc(var(--frame-width) / 2), var(--frame-height));
  overflow: visible;
}
