.container {
  --frame-width: calc(min(100vw, var(--max-page-width)));
  --frame-height: calc(100vh - var(--height-navbar));
  margin-left: calc(-1 * var(--margin-main-h));
  margin-right: calc(-1 * var(--margin-main-h));
  position: relative;
  overflow: hidden;
}

.frame {
  position: relative;
  width: var(--frame-width);
  height: var(--frame-height);
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  /* border: 2px solid var(--color-text); */
}

.pictureFrame::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(assets/thumbnail.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(4px);
}

.frameContent {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
