:root {
  --max-page-width: 1000px;
  --color-background: white;
  --color-text: black;
  --color-text-subdued: #888;
  --color-primary: #08827e;
  --color-primary-dark: #077571;
  --color-primary-darker: #076f6b;
  --color-primary-darkest: #065b58;
  --color-primary-light: #098f8b;
  --color-primary-lighter: #099591;
  --color-primary-lightest: #0aa9a4;
  --color-shadow: #00000020;
  --color-red: #ca393e;
  --color-pink: #ca3986;
  --color-violet: #c539ca;
  --color-purple: #7d39ca;
  --color-indigo: #393eca;
  --color-blue: #3986ca;
  --color-seagreen: #39ca7d;
  --color-green: #3eca39;
  --color-yellowgreen: #86ca39;
  --color-yellow: #cac539;
  --color-orange: #ca7d39;
  --height-navbar: 4rem;
  --margin-main-h: 2rem;
  --margin-main-v: 0;
  --margin-paragraph: 1rem;
  --font-main: "CharisSILW", Georgia, "Times New Roman", Times, serif;
  --font-code: Menlo, Consolas, Monaco, monospace;
  --border-radius-small: 0.25em;
  --border-radius-medium: 0.5em;
  --border-radius-large: 1em;

  font-family: var(--font-main);
  scroll-padding-top: var(--height-navbar);
  background-color: var(--color-background);
  color: var(--color-text);
  transition:
    background-color 0.2s ease-out,
    color 0.2s ease-out;
}

[data-color-mode="dark"] {
  --color-background: #18191a;
  --color-text: white;
  --color-text-subdued: #aaa;
  --color-primary: #39cac4;
  --color-primary-dark: #31b8b2;
  --color-primary-darker: #2eaea8;
  --color-primary-darkest: #268f8b;
  --color-primary-light: #4dcfca;
  --color-primary-lighter: #58d2cd;
  --color-primary-lightest: #76dad6;
  --color-shadow: #ffffff20;
}

@font-face {
  font-family: CharisSILW;
  src: url(assets/CharisSIL-Regular.woff2);
}

@font-face {
  font-family: CharisSILW;
  font-style: italic;
  src: url(assets/CharisSIL-Italic.woff2);
}

@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  src: url(assets/CharisSIL-Bold.woff2);
}

@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  font-style: italic;
  src: url(assets/CharisSIL-BoldItalic.woff2);
}

#app {
  margin: 0 auto;
  max-width: var(--max-page-width);
}

body {
  margin: 0;
  padding: 0;
  line-height: 2;
}

a {
  color: var(--color-text);
}

a:hover {
  color: var(--color-primary);
}

time {
  font-style: italic;
}

hr {
  margin-left: var(--margin-main-h);
  margin-right: var(--margin-main-h);
}

p {
  margin-block-start: var(--margin-paragraph);
  margin-block-end: var(--margin-paragraph);
}

input,
button {
  background-color: var(--color-background);
  font-family: var(--font-main);
  font-size: 1em;
  color: var(--color-text);
}

code {
  font-family: var(--font-code);
  font-size: smaller;
  background-color: var(--color-shadow);
  padding: 4px;
  border-radius: var(--border-radius-small);
  color: var(--color-text);
}

pre {
  font-family: var(--font-code);
  font-size: 1em;
}

pre code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  color: unset;
}

blockquote {
  padding-left: 1em;
  border-left: 4px solid var(--color-text-subdued);
  color: var(--color-text-subdued);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-left: var(--margin-paragraph);
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.5em 1em;
  border: 1px solid var(--color-text);
}

summary {
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

kbd {
  font-family: var(--font-code);
  font-size: smaller;
  padding: 0.25em 0.5em;
  border-radius: var(--border-radius-small);
  color: var(--color-text);
  border: 1px solid var(--color-text-subdued);
}

img[src^="https://img.shields.io/badge/"] {
  vertical-align: bottom;
}

.tooltip {
  --rt-opacity: 1;
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-text);
  max-width: 22em;
  width: 100%;
  margin-top: 1em;
  padding: 0 1em;
  font-weight: normal;
  z-index: 100;
}

.term {
  font-style: normal;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.2em;
  cursor: help;
}
