* {
  font-family: CharisSILW, Georgia, "Times New Roman", Times, serif;
}

:root {
  --max-page-width: 1000px;
  --color-background: white;
  --color-text: black;
  --color-primary: #08827e;
  --color-primary-dark: #077571;
  --color-primary-darker: #076f6b;
  --color-primary-darkest: #065b58;
  --color-primary-light: #098f8b;
  --color-primary-lighter: #099591;
  --color-primary-lightest: #0aa9a4;
  --color-shadow: #00000020;
  --color-red: #ca393e;
  --color-green: #3eca39;
  --height-navbar: 4rem;
  --margin-main-h: 2rem;
  --margin-main-v: 0;

  line-height: 1.5;
  background-color: var(--color-background);
  color: var(--color-text);
  transition:
    background-color 0.2s ease-out,
    color 0.2s ease-out;
}

[data-color-mode="dark"] {
  --color-background: #18191a;
  --color-text: white;
  --color-primary: #39cac4;
  --color-primary-dark: #31b8b2;
  --color-primary-darker: #2eaea8;
  --color-primary-darkest: #268f8b;
  --color-primary-light: #4dcfca;
  --color-primary-lighter: #58d2cd;
  --color-primary-lightest: #76dad6;
  --color-shadow: #ffffff20;
}

code {
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: small;
  background-color: var(--color-shadow);
  padding: 4px;
  border-radius: 4px;
  color: var(--color-text);
}

@font-face {
  font-family: CharisSILW;
  src: url(assets/CharisSIL-Regular.woff2);
}

@font-face {
  font-family: CharisSILW;
  font-style: italic;
  src: url(assets/CharisSIL-Italic.woff2);
}

@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  src: url(assets/CharisSIL-Bold.woff2);
}

@font-face {
  font-family: CharisSILW;
  font-weight: bold;
  font-style: italic;
  src: url(assets/CharisSIL-BoldItalic.woff2);
}

#app {
  margin: 0 auto;
  max-width: var(--max-page-width);
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-text);
}

a:hover {
  color: var(--color-primary);
}

time {
  font-style: italic;
}
