.footer {
  border-top: 2px solid var(--color-text);
  margin: 3rem 2rem 0 2rem;
  padding: 1rem 0;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 1.5rem 0;
}

.logoLink {
  width: 1.7rem;
  height: 1.7rem;
}

/* This can be overridden by path attributes */
.logoLink:is(:hover, :focus-visible) {
  color: var(--color-text);
  fill: var(--color-text);
}

/* This overrides path attributes */
.logoLink:not(:hover, :focus-visible) path {
  color: dimgray;
  fill: dimgray;
}

[data-color-mode="dark"] .logoLink:not(:hover, :focus-visible) path {
  color: darkgray;
  fill: darkgray;
}
