.footer {
  border-top: 1.5px solid black;
  margin: 3em;
  padding: 2em 1em;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  margin: 1.5em 0;
}

.logoLink {
  width: 1.7em;
  height: 1.7em;
  color: dimgray;
  fill: dimgray;
}

.logoLink:hover {
  color: black;
  fill: black;
}
